<div class="container">
  <div class="author">
    <h2 class="author__header">Welcome to BlogiFy, <%= locals.name %> </h2>
    <p class="author__body">You're in the right place.</p>
  </div>

  <img
    src="/img/window.jpeg"
    alt="person looking out through window"
    width="981px"
    height="528px"
    class="hero-image"
  />

  <section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>

    <ul class="articles__list">

        <% data.forEach(post => { %>
            <li>
                <a href="/api/v1/posts/<%= post._id %>">
                  <span><%= post.title %></span>
                  <span class="articles__date"><%= post.createdAt.toDateString() %></span>
                </a>
                <a>Posted By :<%= post.userInfo.username %></a>
              </li>
        <% }) %>
    </ul>
    <% if (hasNextPage !== false) { %>
        <a href="/api/v1/posts/?page=<%=nextPage%>" class="pagination">&lt; view older posts</a>
    <% } %>
  </section>
</div>
